<ion-view view-title="Tabs">
	<ion-tabs class="tabs-positive tabs-icon-only">

		<ion-tab title="One" icon-on="ion-ios-filing" icon-off="ion-ios-filing-outline" href="#/main/tabs/one">
			<ion-nav-view name="one-tab"></ion-nav-view>
		</ion-tab>

		<ion-tab title="Two" icon-on="ion-ios-clock" icon-off="ion-ios-clock-outline" href="#/main/tabs/two">
			<ion-nav-view name="two-tab"></ion-nav-view>
		</ion-tab>

		<ion-tab title="Three" icon-on="ion-ios-gear" icon-off="ion-ios-gear-outline" href="#/main/tabs/three">
			<ion-nav-view name="three-tab"></ion-nav-view>
		</ion-tab>

	</ion-tabs>
</ion-view>