<div ng-show="visible" class="row" style="padding: 0">
	<div ng-show="type !== 'none'" class="col col-10" style="text-align: center; border-radius: 5px 0 0 5px" ng-style="{ 'background-color': head_bg }">
		<i class="icon" ng-class="head_icon" style="font-size: 1.5em" ng-style="{ 'color': head_ink }"></i>
	</div>
	<div class="col" ng-style="{ 'background-color': main_bg, 'border-radius': (type === 'none' ? '5px' : '0') + ' 5px 5px ' + (type === 'none' ? '5px' : '0') }">
		<h4 style="margin: 0 0.25em 0 0.25em" ng-style="{ 'color': main_title }">{{title}}</h4>
		<p style="margin: 0 0.25em 0 0.25em" ng-style="{ 'color': main_text }">{{message}}</p>
	</div>
</div>