<ion-view view-title="Activities Settings">
  <ion-nav-bar class="bar-positive">
    <ion-nav-back-button class="button-icon ion-arrow-left-c"></ion-nav-back-button>
  </ion-nav-bar>
  <ion-content>

    <div class="list">
      <div class="item item-divider">Interval</div>
      <ion-radio name="b" ng-model="model.interval" ng-value="'week'">Week</ion-radio>
      <ion-radio name="b" ng-model="model.interval" ng-value="'month'">Month</ion-radio>

			<div class="item item-divider">Grouping</div>
      <ion-radio name="c" ng-model="model.grouping" ng-value="'none'">None</ion-radio>
      <ion-radio name="c" ng-model="model.grouping" ng-value="'day'">By Day</ion-radio>
      <ion-radio name="c" ng-model="model.grouping" ng-value="'project'">By Project</ion-radio>

			<div class="item item-divider">Dates Sort Order</div>
      <ion-radio name="a" ng-model="model.sorting" ng-value="'ascending'">Ascending</ion-radio>
      <ion-radio name="a" ng-model="model.sorting" ng-value="'descending'">Descending</ion-radio>
		</div>

  </ion-content>
</ion-view>
