<ion-view view-title="Activity">
	<ion-nav-buttons side="left">
		<button ng-click="$ionicGoBack()" class="button button-icon ion-arrow-left-c"></button>
	</ion-nav-buttons>
	<ion-nav-buttons side="right">
    <button ng-show="model.status === 'content.ready'" class="button button-icon icon" ng-class="model.edit.icon" ng-click="model.edit.handler()"></button>
		<button ng-show="model.status === 'edit.ready' || model.status === 'edit.error'" class="button button-icon icon" ng-class="model.save.icon" ng-click="model.save.handler()"></button>
	</ion-nav-buttons>
	<ion-content padding="true">

    <!-- loading -->
    <div ng-show="model.status === 'loading'" style="text-align: center; padding-top: 10em">
      <p>{{model.loading.message}}</p>
      <ion-spinner></ion-spinner>
    </div>

    <!-- error -->
    <div ng-show="model.status === 'error'" style="text-align: center; padding-top: 10em">
      <p>{{model.error.message}}</p>
      <button ng-click="model.error.retry.handler()" class="button button-positive">{{model.error.retry.label}}</button>
    </div>

		<!-- view mode -->
		<div ng-show="model.status === 'content.ready'">
			<div ng-show="model.message_save.length > 0" ng-style="{ 'background-color': model.message_edit.color }" style="text-align: center; padding: 0.5em; color: #FFFFFF">
				{{model.message_view.text}}
			</div>
			
			<div class="list card">

				<div class="item">
					<p style="font-weight: bold">{{model.activity.project === null ? '' : model.activity.project.name}}</p>
					<p>{{model.activity.task === null ? '' : model.activity.task.name}}</p>
				</div>

				<div class="item">
					<p>{{model.activity.date}}</p>
					<p>{{model.activity.duration}} / {{model.activity.overtime}}</p>
				</div>

			</div>

		</div>

		<!-- edit mode -->
		<div ng-show="model.status === 'edit.ready' || model.status === 'edit.error'">
			<div ng-show="model.message_edit.text.length > 0" ng-style="{ 'background-color': model.message_edit.color }" style="text-align: center; padding: 0.5em; color: #FFFFFF">
				{{model.message_edit.text}}
			</div>

			<div class="list card">
				<div class="item item-divider">
					Date
				</div>
				<div class="item">
					<div style="text-align: center">{{model.activity.date | date: 'EEEE, d MMMM, yyyy'}}</div>
					<aima-calendar value="model.activity.date"></aima-calendar>
					<div ng-show="model.validation.hasOwnProperty('date')" style="color: red; padding-top: 0.5em"><i class="icon ion-close-circled"></i>&nbsp;{{model.validation.date.error}}</div>
				</div>
				<div class="item item-divider">
					Project
				</div>
				<div ng-click="model.selectProject()" class="item">
					{{model.activity.project === null ? '[select project]' : model.activity.project.name}}
					<div ng-show="model.validation.hasOwnProperty('project')" style="color: red; padding-top: 0.5em"><i class="icon ion-close-circled"></i>&nbsp;{{model.validation.project.error}}</div>
				</div>
				<div class="item item-divider">
					Task
				</div>
				<div ng-click="model.selectTask()" class="item">
					{{model.activity.task === null ? '[select task]' : model.activity.task.name}}
					<div ng-show="model.validation.hasOwnProperty('task')" style="color: red; padding-top: 0.5em"><i class="icon ion-close-circled"></i>&nbsp;{{model.validation.task.error}}</div>
				</div>
				<div class="item item-divider">
					<div class="row" style="padding: 0">
						<div class="col" style="padding: 0; text-align: center">Duration</div>
						<div class="col-10"></div>
						<div class="col" style="padding: 0; text-align: center">Overtime</div>
					</div>
				</div>
				<div class="item">
					<div class="row" style="padding: 0">
						<div class="col" value="model.duration_h" style="padding: 0"><aima-duration layout="vertical" format="{0} h" min="0" max="24"></aima-duration></div>
						<div class="col" value="model.overtime_m" style="padding: 0"><aima-duration layout="vertical" format="{0} min" min="0" max="60" step="5"></aima-duration></div>
						<div class="col-10"></div>
						<div class="col" value="model.duration_h" style="padding: 0"><aima-duration layout="vertical" format="{0} h" min="0" max="24"></aima-duration></div>
						<div class="col" value="model.overtime_m" style="padding: 0"><aima-duration layout="vertical" format="{0} min" min="0" max="60" step="5"></aima-duration></div>
					</div>
					<div ng-show="model.validation.hasOwnProperty('duration')" style="color: red; padding-top: 0.5em"><i class="icon ion-close-circled"></i>&nbsp;{{model.validation.duration.error}}</div>
				</div>
			</div>

		</div>

	</ion-content>
</ion-view>