<ion-view>
	<ion-tabs class="tabs-positive tabs-icon-only">

		<ion-tab title="Project Info" icon-on="ion-ios-information" icon-off="ion-ios-information-outline" ng-click="go(0)" xhref="#/main/projects_edit/info">
			<ion-nav-view name="infoTab"></ion-nav-view>
		</ion-tab>

		<ion-tab title="Project Tasks" icon-on="ion-ios-paper" icon-off="ion-ios-paper-outline" ng-click="go(1)" xhref="#/main/projects_edit/tasks">
			<ion-nav-view name="tasksTab"></ion-nav-view>
		</ion-tab>

		<ion-tab title="Project Team" icon-on="ion-ios-people" icon-off="ion-ios-people-outline" ng-click="go(2)" xhref="#/main/projects_edit/team">
			<ion-nav-view name="teamTab"></ion-nav-view>
		</ion-tab>

	</ion-tabs>
</ion-view>