<ion-view view-title="Dashboard">
	<ion-nav-buttons side="right">
	</ion-nav-buttons>
	<ion-content>
		<ion-refresher pulling-text="Pull to refresh..." on-refresh="model.refresh()"></ion-refresher>

		<!-- loading -->
		<div ng-show="model.status === 'loading'" style="text-align: center; padding-top: 10em">
			<p>{{model.loading.message}}</p>
			<ion-spinner></ion-spinner>
		</div>

		<!-- error -->
		<div ng-show="model.status === 'error'" style="text-align: center; padding-top: 10em">
			<p>{{model.error.message}}</p>
			<button ng-click="model.error.retry.handler()" class="button button-positive">{{model.error.retry.label}}</button>
		</div>

		<!-- content -->
		<div ng-show="model.status.indexOf('content.') === 0">

			<div class="card">
				<div class="item item-divider">Activities Summary</div>
				<div class="item item-text-wrap" style="padding: 0">

					<div class="list">
						<div ng-repeat="item in model.activities" ng-click="model.viewActivities(item.month)" class="item" style="padding: 5px">
							<div class="row">
								<div class="col col-50">{{item.interval}}</div>
								<div class="col" style="text-align: right">{{item.hours}} hours ({{item.total}})</div>
							</div>
						</div>
					</div>

				</div>
			</div>

			<div class="card">
				<div class="item item-divider">Today Projects<span style="float: right">{{model.projects.length}}</span></div>
				<div class="item item-text-wrap" style="padding: 0">

					<div class="list">
						<div ng-repeat="item in model.projects" ng-click="model.viewProject(item)" class="item">
							<span style="float: right">{{item.status}}</span>
							<h2>{{item.name}}</h2>
							<p>{{item.customer}}</p>
						</div>
					</div>

				</div>
			</div>

		</div>
	</ion-content>
</ion-view>
