<ion-view view-title="Activities Settings">
	<ion-nav-buttons side="left">
		<button ng-click="$ionicGoBack()" class="button button-icon ion-arrow-left-c"></button>
	</ion-nav-buttons>
  <ion-content>

    <div class="list">
      <div class="item item-divider" style="font-weight: bold">Interval</div>
      <ion-radio name="i" ng-model="model.interval" ng-value="'week'">Week</ion-radio>
      <ion-radio name="i" ng-model="model.interval" ng-value="'month'">Month</ion-radio>

			<div class="item item-divider" style="font-weight: bold">Grouping</div>
      <ion-radio name="g" ng-model="model.grouping" ng-value="'none'">None</ion-radio>
      <ion-radio name="g" ng-model="model.grouping" ng-value="'day'">By Day</ion-radio>
      <ion-radio name="g" ng-model="model.grouping" ng-value="'project'">By Project</ion-radio>

			<div class="item item-divider" style="font-weight: bold">Dates Sort Order</div>
      <ion-radio name="s" ng-model="model.sorting" ng-value="'ascending'">Ascending</ion-radio>
      <ion-radio name="s" ng-model="model.sorting" ng-value="'descending'">Descending</ion-radio>
		</div>

  </ion-content>
</ion-view>
