<ion-view view-title="Dashboard">

	<ion-content>
		<ion-refresher pulling-text="Pull to refresh..." on-refresh="model.refresh()"></ion-refresher>

		<div ng-show="model.spinner" style="margin: auto">
			<ion-spinner></ion-spinner>
		</div>
		
		<div ng-show="!model.spinner">
		
			<div class="card">
				<div class="item item-divider">Activities Summary</div>
				<div class="item item-text-wrap" style="padding: 0">

					<div class="list">
						<a ng-repeat="item in model.summary" class="item" href="#" style="padding: 0">
							<div class="row">
								<div class="col col-50">{{item.month}}</div>
								<div class="col">{{item.hours}} hours ({{item.total}})</div>
							</div>
						</a>
					</div>

				</div>
			</div>

			<div class="card">
			<div class="item item-divider">Today Projects</div>
			<div class="item item-text-wrap" style="padding: 0">
				
				<div class="list">
					<a class="item" href="#">
						<h2>Media Saturn Mobile Enterprise Application CC - MEACC</h2>
					</a>
					<a class="item" href="#">
						accesa Out of Office
					</a>
				</div>
				
			</div>
		</div>

		</div>
			
	</ion-content>

</ion-view>