<ion-view view-title="Test">
	<ion-nav-buttons side="right">
	</ion-nav-buttons>
	<ion-content padding="true">

		<h1>Calendar Test</h1>
		
		<aima-notification value="model.notification"></aima-notification>
		
		<button ng-click="notify()">Notify</button>
		
		<div>{{model.dateValue}}</div>
		<div class="card">
			<aima-calendar value="model.dateValue" display="model.dateDisplay" show-weeks="model.showWeeks"></aima-calendar>
		</div>
		
		<button ng-click="today()">Today</button>
		<button ng-click="weeks()">Weeks</button>

		<aima-duration value="model.durationValue" step="3"></aima-duration>
		<div style="width: 12em">
			<aima-duration value="model.durationValue" step="2"></aima-duration>
		</div>
		
		<div class="list card">
			<div class="item item-divider">
				<div class="row">
					<div class="col">Duration</div>
					<div class="col">Overtime</div>
				</div>
			</div>
			<div class="item" style="padding: 10px 0 10px 0">
				<div class="row" style="padding: 0">
					<div class="col" style="padding: 0 0 0 10px"><aima-duration data-layout="vertical" format="{0} h" min="0" max="24"></aima-duration></div>
					<div class="col" style="padding: 0 10px 0 0"><aima-duration data-layout="vertical" format="{0} min" min="0" max="60" step="5"></aima-duration></div>
					<div class="col" style="padding: 0 0 0 0"><aima-duration data-layout="vertical" format="{0} h" min="0" max="24"></aima-duration></div>
					<div class="col" style="padding: 0 10px 0 0"><aima-duration data-layout="vertical" format="{0} min" min="0" max="60" step="5"></aima-duration></div>
				</div>
			</div>
		</div>

		
		

	</ion-content>
</ion-view>